<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-9">

      <h3>Form Handling in Angular JS 8: Part 2: Binding form to Model</h3>
      <form #userForm="ngForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="email" ngModel>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" ngModel>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</div>